
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_3 */
#MComp_mobilebutton_3 {

}
.ui-btn.MComp_mobilebutton_3 {

}
/* mobilecontainer */
.ui-content.MComp_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* html_2 */
.MComp_html_2 {
	margin: 0px 0px 0px 0px;
	font-weight: normal;
	width: 290px; height: 470px;
}
div.MComp_html_2 {
	overflow: auto;
}
/* mobilefooter */
.MComp_mobilefooter {
	min-height:38px;
}
/* mobilenavbar_4 */
.MComp_mobilenavbar_4 {

}
.MComp_mobilenavbar_4 .ui-grid-a .ui-block-a {
	clear:none;
}
.ui-footer .MComp_mobilenavbar_4 ul li:last-child a {
	margin-right: 1px !important;
}
.ui-header .MComp_mobilenavbar_4 ul li:last-child a {
	margin-right: -1px !important;
}
.MComp_mobilenavbar_4 ul.ui-grid-duo li:nth-child(even) a {
	margin-right: 1px !important;
}