
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_7 */
#MFE_mobilebutton_7 {

}
.ui-btn.MFE_mobilebutton_7 {

}
/* mobilecontainer */
.ui-content.MFE_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* html_2 */
.MFE_html_2 {
	margin: 0px 0px 0px 0px;
	font-weight: normal;
	width: 290px; height: 470px;
}
div.MFE_html_2 {
	overflow: auto;
}
/* mobilefooter */
.MFE_mobilefooter {
	min-height:38px;
}
/* mobilenavbar_3 */
.MFE_mobilenavbar_3 {

}
.MFE_mobilenavbar_3 .ui-grid-a .ui-block-a {
	clear:none;
}
.ui-footer .MFE_mobilenavbar_3 ul li:last-child a {
	margin-right: 1px !important;
}
.ui-header .MFE_mobilenavbar_3 ul li:last-child a {
	margin-right: -1px !important;
}
.MFE_mobilenavbar_3 ul.ui-grid-duo li:nth-child(even) a {
	margin-right: 1px !important;
}