
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_12 */
#ParkadeMapsLocations_mobilebutton_12 {

}
.ui-btn.ParkadeMapsLocations_mobilebutton_12 {

}
/* mobilecontainer */
.ui-content.ParkadeMapsLocations_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilebutton_10 */
#ParkadeMapsLocations_mobilebutton_10 {

}
.ui-btn.ParkadeMapsLocations_mobilebutton_10 {
	margin: 4px 5px 4px 5px;
}
/* mobilebutton_11 */
#ParkadeMapsLocations_mobilebutton_11 {

}
.ui-btn.ParkadeMapsLocations_mobilebutton_11 {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.ParkadeMapsLocations_mobilefooter {
	min-height:38px;
}
/* mobilenavbar_2 */
.ParkadeMapsLocations_mobilenavbar_2 {

}
.ParkadeMapsLocations_mobilenavbar_2 .ui-grid-a .ui-block-a {
	clear:none;
}
.ui-footer .ParkadeMapsLocations_mobilenavbar_2 ul li:last-child a {
	margin-right: 1px !important;
}
.ui-header .ParkadeMapsLocations_mobilenavbar_2 ul li:last-child a {
	margin-right: -1px !important;
}
.ParkadeMapsLocations_mobilenavbar_2 ul.ui-grid-duo li:nth-child(even) a {
	margin-right: 1px !important;
}